.images-container {
    width: 22.5%;
    height: 300px;
    background-color: whitesmoke;
    padding: 10px;
    padding-bottom: 180px;
    border: 1px round grey;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.images {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

body {
    background-color: azure;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}